body {
  background-color: #fff3d4;
}

/* 최상위 컨테이너 */
#IndexPage {
  width: 100%;
  height: 100%;

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*상단 키 & 키홀 이미지 컨테이너*/
.KeyImgTopContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

/*상단 키홀 01*/
#TopKeyholeOne {
  display: flex;
  height: 10vh;
  width: auto;
  margin-top: 2vh;
}

#TopKeyOne {
  display: flex;
  height: 11vh;
  width: auto;
  margin-left: 20vw;
}

#TopKeyholeTwo {
  display: flex;
  height: 11vh;
  width: auto;
  margin-left: 28vw;
}

#TopKeyholethree {
  display: flex;
  height: 11vh;
  width: auto;
  margin-left: 15vw;
  margin-top: 2vh;
}

/* Middle 총 컨테이너 (왼쪽 작은 이미지들, 메인 자물쇠, 오른쪽 작은 이미지들) */
.MiddleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Middle 왼쪽 이미지들 컨테이너 */
.KeyImgLeftContainer {
  display: flex;
  flex-direction: column;
}

/*이미지들*/
#LeftKeyholeOne {
  display: flex;
  height: auto;
  width: 6vw;
}
#LeftKeyholeTwo {
  display: flex;
  height: auto;
  width: 3.5vw;
  margin-left: -23vw;
}
#LeftKeyOne {
  display: flex;
  height: auto;
  width: 7vw;
  margin-left: -10vw;
  margin-top: 6vh;
}
#LeftKeyholeThree {
  display: flex;
  height: auto;
  width: 4vw;
  margin-left: -21vw;
  margin-top: 6vh;
}
#LeftKeyTwo {
  display: flex;
  height: auto;
  width: 7vw;
  margin-left: -5vw;
  margin-top: 6vh;
}

/* 메인 자물쇠&구멍 컨테이너*/
.MainLockContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Middle 오른쪽 이미지들 컨테이너 */
.KeyImgRightContainer {
  display: flex;
  flex-direction: column;
}

/* 자물쇠 이미지 */
.MainLockImage {
  width: auto;
  height: 70vw;
  max-height: 700px;

  display: flex;
  position: relative;
}

/* 버튼(메인 열쇠구멍) */
.MainKeyhole {
  display: flex;

  width: auto;
  height: 15vh;

  position: absolute;
  margin-top: 36.5vh;

  background-color: #f6da46;
  border: none;
  outline: 0;
}

/* Click the keyhole 텍스트 컨테이너 */
.InfoTextContainer {
  display: flex;
  margin-top: 2vh;
}
