@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

body {
  background-color: #87b2cb;
}

#InputPage {
  width: 100%;
  height: 100%;

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.WaveLockContainer {
  display: flex;
}

.ImgWave {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 6.5vh;
  margin-top: 1vh;
}
.ImgLock {
  display: flex;
  position: absolute;
  height: 9vh;
  margin-top: -6.8vh;
  margin-left: 2vw;
}

.MainInputContainer {
  display: flex;
  margin-top: 15vh;
}

.KeyContainer,
.KeyholeContainer {
  display: flex;
  margin-top: 1.8vh;
  flex-direction: column;
}

.InputKeyContainer,
.InputPlaintextContainer {
  display: flex;
  flex-direction: row;
  margin-top: 0.3vh;
}
.submitContainer {
  display: flex;
  flex-direction: row;
  margin-top: 3.5vh;
}

.LabelKey,
.LabelKeyhole {
  color: #0a214bdc;
  font-size: 1.2rem;
  font-family: "Jua", sans-serif;
}

.InputKey,
.InputPlaintext {
  display: flex;
  width: 50vw;
  height: 6.5vh;
  min-width: 500px;
  margin-bottom: 15px;
  display: flex;

  padding-left: 15px;
  border: 1px solid #87b2cb;
  border-radius: 8px;
  outline: 0;
  box-shadow: 0px 5px 1.5px -1.5px #1741689f;

  padding-top: 4px;
  box-sizing: border-box;

  color: #0a214b;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "Jua", sans-serif;
}

.InputKey::placeholder,
.InputPlaintext::placeholder {
  color: #436a8f81;
  font-size: 1.1rem;
  font-weight: 100;
  font-family: "Jua", sans-serif;
}

.ImgInputKey,
.ImgInputKeyhole {
  width: auto;
  height: 6.5vh;
  display: flex;
  margin-left: 15px;
}

.InputSubmit {
  width: 50vw;
  height: 5.5vh;
  min-width: 500px;
  margin-bottom: 50px;

  border: none;
  outline: 0;
  box-shadow: 0px 5px 1.5px -1.5px #0b2d4dea;
  background-color: #1d4e7c;
  color: white;

  font-weight: 498;
  font-size: 1.2rem;
  font-family: "Jua", sans-serif;

  cursor: pointer;
}
#en {
  border-radius: 8px 8px 8px 8px;
}
